/* Responsive Header */

@media screen and (min-width: 600px) {
    .mobileMenu {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .headerMenu > div:nth-child(2) {
        display: none;
    }
    .headerBtn {
        display: none;
    }
    .mobileMenu {
        display: block;
    }
}